PORT=foo
OCR_LANGUAGE=foo
OCR_POOL_SIZE=foo
DATABASE_URL=foo
AMQP_URL=foo
UPLOAD_DIR=foo
PROCESSING_TIMEOUT=foo

POSTGRES_USER=foo
POSTGRES_PASSWORD=foo
POSTGRES_DB=foo

RABBITMQ_DEFAULT_USER=foo
RABBITMQ_DEFAULT_PASS=foo